#### Assumptions in Multilinear Regression
1. Linearity: The relationship between the predictors and the response in linear.
2. Indepencence: Observations are independent of each other.
3. Homoscedasticity: Te residuals(difference between observed and predicted values)exhabit constant variace at all levels of predictoers.
4. Normal Distribution of Errors: The residuals of the modelare normally distributed.
5. No multicolinearity: The independent variables should not be too highly corelated with each other

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot

In [6]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [10]:
cars =pd.DataFrame(cars,columns=["HP","VOL","SP","WT","MPG"])
cars.head()

   HP  VOL          SP         WT        MPG
0  49   89  104.185353  28.762059  53.700681
1  55   92  105.461264  30.466833  50.013401
2  55   92  105.461264  30.193597  50.013401
3  70   92  113.461264  30.632114  45.696322
4  53   92  104.461264  29.889149  50.504232

#### Description of columns
- MPG : Milege of the car (Mile per Gallon)
- HP : Horse Power of the car
- VOL : Volume of the car(Size)
- SP : Top speed of the car(Miles per hour)
- WT : Weight of the car(Pounds)

#### **EDA**

In [12]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [13]:
cars.isna().sum()

HP     0
VOL    0
SP     0
WT     0
MPG    0
dtype: int64

#### Observations :
- There are no missing values 
- There are 81 observations
- The data types of the columns are relevant and valid

In [15]:
# Create the Subplots 
fig, (ax_box, ax_hist) = plt.subplots(2, sharex=True, gridspec_kw={"height_rations": (.15, .85)})

#Create a box plot
sns.boxplot(data =cars, x='HP',ax=ax_box,orient='h')
ax_box.set(xlabel='')

# Creating a histogram in the same x-axis
sns.histplot(data=cars, x='HP', ax=ax_hist, bins=30, kde=True, stat="density")
ax_hist.set(ylabel='Density')

# Adjust Layout
plt.tight_layout()
plt.show()

TypeError: GridSpec.__init__() got an unexpected keyword argument 'height_rations'